.pageTitle{
  color: #677db7;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 20px;
}

.exerciseCard{
  background-color: #677db7;
  border: solid 4px whitesmoke;
  border-radius: 8px; 
  padding: 12px; 
  margin-bottom: 10px; 
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 10px 0px 10px #101010; /* slightly bigger shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* smooth hover effect */
  max-width: 300px;
}

.workoutCard{
  background-color: #3b96b4;
  border: solid 4px whitesmoke;
  border-radius: 8px; 
  padding: 12px; 
  margin-bottom: 10px; 
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 10px 0px 10px #101010; /* slightly bigger shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s; /* smooth hover effect */
  max-width: 300px;
}
.addWorkoutButton{
  border-radius: 6px;
}
input{
  margin-left: 20px;
}

button{
  border-radius: 6px;

}


